<div class="wrapper">
    <div *ngIf="!loading" class="body">
      <img class="logo" src="../../../assets/perfil.png" alt="Login">
      <h1>Recuperar</h1>
      <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
        <div class="form-floating mb-3">
          <input  formControlName="email" type="email" class="form-control" placeholder="name@example.com">
          <label>Email</label>
          <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched " class="text-danger errorLabel">
            El <strong>Correo</strong> es requerido
          </span>
          <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched " class="text-danger errorLabel">
            El <strong>Correo</strong> es invalido
          </span>
        </div>
        <div class="d-grid gap-2 mb-3">
          <button [disabled]="recuperarUsuario.invalid" class="btn btn-dark" type="submit">Recuperar</button>       
        </div>
            <a routerLink="/login">Volver</a>
      </form>    
    </div>
    <app-spinner *ngIf="loading"></app-spinner>  
  </div>