<div class=" listaEmpleados container mt-4">
    <div class="card">
        <div class="card-body table-responsive"  [ngClass]="{'card-body-users':empleados.length >15 }" >
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right mt-4" routerLink="/create-empleados" style="float: right;">
              <i class="fa-solid fa-user-plus"></i>
              Agragar</button>
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <span *ngIf="empleados.length==0" class="badge text-bg-info mt-10">Cargando...</span>
            </div> 
            <table *ngIf ="empleados.length >0" class="table table-striped table-hover mt-5">
                <thead style="position: sticky; position: -webkit-sticky; background-color: aqua;">
                  <tr>
                   <!--  <th>Id</th>    -->                 
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Doc.ID</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Acciones</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados" let i =id>  
                   <!--  <td>{{empleado.id}}</td>  -->                 
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.dni}}</td>
                    <td>{{empleado.cargo}}</td>
                    <td>{{empleado.salario | currency}}</td>
                    <td>
                    <i  type="button" class="fas fa-edit fa-lg " [routerLink]="['/edit-empleado/',empleado.id]"></i> 
                    <i (click)="eliminarEmpleado(empleado)" class="fa-solid fa-trash-can fa-lg"></i>
                </td>
             </tr>                         
                </tbody>
              </table>  
              <div>
               
              </div>                     
        </div>
    </div>
</div>

