<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/perfil.png" alt="Login">
    <h1>Login</h1>
    <form (ngSubmit)="loginUser()" [formGroup]="loginForm">
      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" placeholder="name@example.com" required>
        <label>Email</label>
        <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched " class="text-danger errorLabel">
          El <strong>Correo</strong> es requerido
        </span>
        <span *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched " class="text-danger errorLabel">
          El <strong>Correo</strong> es invalido
        </span>
      </div>
      <div class="form-floating mb-3">
        <input formControlName="password" type="password" class="form-control"  placeholder="Password" required>
        <label>Password</label>
        <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched " class="text-danger errorLabel">
          El <strong>Password</strong> es requerido
        </span>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-dark" type="submit" [disabled]="loginForm.invalid">Ingresar</button>       
      </div>
      <div class="d-grid gap-2">
        <button (click)="logInGoogle()" class="btn btn-dark mt-3 py-1" type="button"> Registrate con <img class="google"  src="../../../assets/googleCuadrado.png"> </button>      
      </div>
      <p class="mt-3">No tienes cuenta? <a routerLink="/registrar-usuario">Registrate</a></p>    
      <a class="mt-3" routerLink="/recuperar-password">Recuperar Contraseña</a>
    </form>    
  </div>  
  <app-spinner *ngIf="loading"></app-spinner>
</div>